{% load static %}
body {
    color: #ffffff;
    font-size: 26px;
    font-family: serif, "Harlow Solid Italic";
    /* background-color: #c8a2c7; */
    text-align: center;
    line-height: 1.5;
    max-width: 100%;
    margin: 0 auto;
    /* margin: 80px;  Supprimer les marges par défaut du corps */
    padding: 0;
    height: 100vh;
    /* overflow: hidden; */
    background-size: 100% 100%;
    max-height: 100vh;
    overflow-y: auto; /* Vertical scrollbar will appear if the content overflows */
}

.bottombar{ margin-top: 18px;height: 5%;background-color:  rgba(151, 150, 240, 0.8);
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 10px;} /*;background: linear-gradient(0deg, #2196f3 , #fff 50%)*/
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(83, 178, 221, 0.62);
        padding: 10px;
    }

    .logo img {
        height: 100%;
        width: auto;
        object-fit: contain;
        border-radius: 50%;
    }

    .center-text {
        margin-right: 20%;
        flex: 1;
        text-align: right;
        color: white; /* Couleur du texte au milieu */
    }

    .nav-buttons {
        display: flex;
        color: salmon; /* Couleur du texte du bouton */

    }

    .nav_button {
        display: inline-block;
        line-height: 2.5;
        border-radius: 10px;
        padding: 10px 10px;
        font-size: 17px;
        height: 100%;
        width: 120px;
        margin: 0;
        margin-left: 10px;
        text-align: center;
        text-decoration: none;
        color: white;
        background-color: rgba(255, 70, 150, 0.7); /* salmon Couleur de fond du bouton */
        border: 2px rgba(83, 178, 221, 0.62); /* Bordure blanche de 2 pixels */
        transition: background-color 0.3s, color 0.3s; /* Animation de transition */
    }

    .nav_button:hover {
        background-color: white;
        color: rgba(83, 178, 221, 0.9);
        transform: scale(1.1);
        box-shadow: 4px 3px 7px #6f7273;
    }

.content {
background-size: cover;
background-position: center;
min-height: 100px; /* Hauteur minimale de la section du contenu à 100% de la hauteur de la vue (viewport) */
padding-top: 150px; /* Ajustez cette valeur en fonction de la hauteur de votre barre de navigation */
color: white; /* Couleur du texte sur l'image de fond */
}


.home_button {
    border: 0;
    line-height: 2.5;
    padding: 5px 20px;
    font-size: 1rem;
    width : 200px;
    height : 300px;
    max-width : 200px;
    max-height : 300px;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(83, 178, 221, 0.62);
    background-image: linear-gradient(
        to top right,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2) 30%,
        rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  /*width: 384px;*/
  /*height: 512px;*/
}

.home_button:hover {
  background-color: rgba(255, 255, 255, 1);

}

.home_button:active {
  box-shadow:
    inset -2px -2px 3px rgba(0, 0, 255, 1),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);

}

img {
    width : 100px;
    height : 200px;
    max-width : 100px;
    max-height : 200px;
}


form {
    background-color: white;
    color: black;
    font-size: 16px;
    font-family: serif, "Harlow Solid Italic";
    text-align : left;
    width: auto;
    max-width: 60%;
    margin: 0 auto; /* Pour centrer le formulaire horizontalement */
    padding: 20px; /* Ajouter de l'espace à l'intérieur du formulaire */
    box-sizing: border-box; /* Assure que la largeur inclut les rembourrages et les bordures */
    border: 40px solid rgba(255, 255, 255, 1); /* Bordure bleue semi-transparente */
    border-radius: 10px; /* Bords arrondis */
    overflow: auto;
}

/* Style pour les champs de formulaire (par exemple, input, textarea) */
form input, form textarea {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Bordure pour les champs */
    border-radius: 5px; /* Bords arrondis pour les champs */
}

/* Style pour le bouton de soumission du formulaire */
form button {
    text-align: center;
    font-size: 18px;
    padding: 7px;
    background-color: rgba(83, 178, 221, 0.62);  /* Couleur taupe */
    color: white;
    font-family: serif, "Harlow Solid Italic";
    border: none;
    border-color: white;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    max-width: 100%;
    margin: 0 auto; /* Centre les boutons horizontalement */
    margin-top: 10px;
}
form button:hover {
    background-color: #7f8c8d;
    color: white;
}

form button:active {
    background-color: #8AFF8A; /* Fond vert clair */
    box-shadow: inset -2px -2px 3px rgba(0, 0, 255, 1), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
    color: white;
}

button a {
    text-decoration: unset;
    color: inherit;
}


.button-container {

    width: 350px;

}
.button-container button {
  width: 100%;
    left : 0;
}
/* Styles pour les boutons actifs */
.button-container button:hover {
    background-color: #7f8c8d !important;
    color: white;
    transform: scale(1.1);
    box-shadow: 4px 3px 7px #6f7273;
}

.button-container a:active {
    background-color: #8AFF8A; /* Fond vert clair */
    box-shadow: inset -2px -2px 3px rgba(0, 0, 255, 1), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
    color: white;
}

.center-form {
    text-align: center;
}

a{
    width: auto;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 10px;
}

.doctor_workspace{
    background-color: white;
    max-width: 90%;
 }




@media screen and (max-width: 600px) {
    /* Les styles spécifiques aux écrans de 600 pixels de largeur ou moins vont ici */
    body {
        font-size: 14px;  /* Par exemple, réduisez la taille de la police pour les petits écrans */
    }



}

.content-container {
    overflow: auto;
  }

.welcome_text{
    margin-top: 5%;
    text-align: justify-all;
    font-family: 'Script MT Bold',serif;
    background-color: rgba(151, 150, 240, 0.8) ;" /*#9796f0*/
}

.bottom_home_img img {
    width: 2700px!important;
    height: 2700px !important;
    display: block !important;
    margin: auto !important;
}
#add_operation_form p{
    display: grid;
    grid-template-columns: 130px auto;
}
.helptext {
    margin-left: auto;
    color : red;
    display: block;
    margin-top: 5px; /* Adjust the margin as needed */
}

.h2 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #001F3F;
            font-size: 28px;
            margin-bottom: 10px;
            margin-top: 20px;
        }
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: 15px;
    line-height: inherit;
    color: black !important;
}

label {
    display: inline-block;
    color: black;
    font-size: 15px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: black !important;
    border: 1px solid rgba(0, 0, 0, 0.3);

    background: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    font-size: 15px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #141313 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
    font-size: 15px;
}

.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: 0.755em;
    color: black!important;
    font-size: 15px;
}

